.Form {
  height: 100%;
  width: 100%;
  padding: 16px 0;
  display: grid;
  gap: 1rem;
}

.btn {
  all: unset;
  background-color: var(--surface);
  display: flex;
  align-items: center;
  width: 92%;
  height: 2.5rem;
  gap: 1rem;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border-radius: 24px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  transition: all ease-in 0.1s;
  margin-bottom: 1rem;
}

.btn--export-to-pdf {
  transition: all ease-in-out 0.2s;
  background-color: var(--surface);
}

.btn--export-to-pdf:hover {
  background: linear-gradient(to right top, var(--primary), #393fda);
  color: var(--surface);
  justify-content: center;
  font-weight: 600;
}

.btn:hover {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
}

.btn__plus,
.btn__download {
  width: 2rem;
  height: 2rem;
}

.btn__download {
  transition: all 0.2s ease-in;
}

.btn--export-to-pdf:hover .btn__download {
  filter: invert(1);
}

.hide {
  display: none;
}

.form > fieldset {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  background-color: var(--surface);
}

.form > fieldset > input {
  height: 2rem;
  font-size: 1rem;
  margin-bottom: 0.75rem;
  padding: 0 0.25rem;
}

.form > fieldset > button[type='button'] {
  all: unset;
  align-self: flex-end;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  color: var(--surface);
  height: 42px;
  width: 92px;
  border-radius: 24px;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.1s ease-out;
}

.form > fieldset > button[type='submit']:hover {
  background-color: var(--primary-variant);
}
