.Resume {
  height: 1056px;
  width: 816px;
  padding: 48px; /* 0.5 inch margins */
  background-color: var(--surface);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

hr {
  margin: 4px 0;
}
