main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 3rem 3rem;
  width: 100%;
}

.main__form-container {
  display: flex;
  flex-direction: column;
  width: 38%;
}
