.auth-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-link {
  color: #4555ea;
  cursor: pointer;
  text-decoration: underline;
}
