.Login__fieldset {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.Login__fieldset__field {
  display: grid;
}

.Login__fieldset__submit-btn {
  height: 2rem;
  background-color: blue;
  color: white;
}
