.Signup {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--surface);
  padding-left: 6vw;
  padding-top: 3vh;
}

.Signup-wrapper {
  height: 60%;
  width: 60%;
}

.Signup__heading {
  font-size: 3vw;
  color: var(--text);
}

.Signup__login-link {
  color: var(--subtext);
  font-weight: 500;
  margin-top: 0.7rem;
  margin-bottom: 2rem;
  font-size: 1.2vw;
}

.Signup__field {
  display: flex;
  flex-direction: column;
}

.Signup__field > label {
  margin-bottom: 0.25rem;
  font-weight: 700;
  color: #4c4c64;
}

.Signup__field > label::after {
  content: '*';
  color: var(--destructive);
}

.Signup__field > input {
  width: 80%;
  height: 3rem;
  margin-bottom: 1.75rem;
  padding: 1rem;
  font-size: 1.1rem;
  color: (--text);
  border-radius: 8px;
  border-color: #d4d4d4;
  border-style: solid;
}

.Signup__submit-btn {
  all: unset;
  cursor: pointer;
  display: grid;
  place-items: center;
  margin-top: 0.5rem;
  width: 80%;
  height: 4rem;
  color: var(--surface);
  font-size: 1.5rem;
  font-weight: 600;
  background-color: var(--primary);
  border-radius: 8px;
  position: relative;
}

.Signup__submit-btn:hover {
  background-color: var(--primary-variant);
}

.Signup__submit-btn.has-error::after {
  content: attr(error);
  color: var(--destructive);
  position: absolute;
  top: calc(50% + 2.5rem);
  font-size: 0.8rem;
  font-weight: 500;
}
